/* Fonts
-------------------------------------------------- */
$helvetica: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$oldschool: 'Times New Roman', serif;


/* Color
-------------------------------------------------- */
$textColor: #333;
$grey1: #F5F5F5;
$grey2: #EEEEEE;
$grey3: #E0E0E0;
$grey4: #BDBDBD;
$grey5: #9E9E9E;
$grey6: #757575;
$grey7: #616161;
$grey8: #424242;
$grey9: #212121;

$ogBlue: #0000EE;
$ogBlueVisited: #551A8B;
